
<launch>

    <arg
    name="path_to_ppo"
    default="$(find ppo_train)/result"
    />


    <node pkg="ppo_train" 
        type="ppo_load_2.py" 
        name="ppo_load_2" 
        output="screen"
        clear_params="true">>

        <param name="path_to_ppo_" value="$(arg path_to_ppo)" /> 
    </node>


</launch>
